<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

   <header class="header"> 
     <nav class="navbar navbar-style">
       <div class="container">
			<div class="navbar-header">             
			   <img th:src="@{/images/icons8-fish-100.png}"/>

			  <a href=""> </a> 
			  <a href=""></a>
			  <a href=""></a>	
			  <a href=""></a>
			</div>
       </div>
     
     </nav>
   </header>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>